Table {
    width: 100%;
    
}

td.yellow {
    background-color: yellow;
}

td.grey {
    background-color: grey;
}

table.periodic_table td.not_empty{
    color: black;
    text-align: center;
    transition: all 0.2s;
}