
table {
    width: 100%;
}

td.deep {
    background-color: deeppink;
    
}
td.pink {
    background-color: pink;
    
}

td.rad {
    background-color: darkred;
}

td.yellow {
    background-color: yellow;
}

td.grey {
    background-color: grey;
}

td.dark grey {
    background-color:  darkgrey;
}

td.light {
    background-color: coral;
}

td.blue {
    background-color: skyblue;
}

td.green{
    background-color: greenyellow
}

td.brown{
    background-color: sandybrown;
}

td.dark brown{
    background-color: burlywood;
}